<source>
  @type systemd
  tag consul-cluster
  path /run/log/journal
  matches [{ "_SYSTEMD_UNIT": "consul.service" }]
  <storage>
    @type local
    persistent false
    path consul-cluster.pos
  </storage>
  <entry>
    fields_strip_underscores true
    fields_lowercase true
  </entry>
</source>

## - add hostname key based on chef metadata
<filter consul-cluster>
  @type record_transformer
  <record>
{% filter indent(width=4, first=True) %}
{% include "partial_default_record_attributes.j2" %}
{% endfilter %}

  </record>
</filter>

<match consul-cluster>
  @type copy

  {% if kafka.enabled == true %}
  <store>
    @type kafka2
    brokers {{ kafka.brokers | join(',') }}
    <format>
    @type json
    </format>
    default_topic kafka-consul-inf-{{ env_name }}
    <buffer kafka-consul-inf-{{ env_name }}>
      chunk_limit_size {{ kafka.chunk_limit_size }}
    </buffer>
  </store>
  {% endif %}

  @include ../prometheus-mixin.conf
</match>
