{% if kafka.enabled == true %}
<store>
  @type kafka2
  brokers {{ kafka.brokers | join(',') }}
  <format>
  @type json
  </format>
  default_topic kafka-{{ item.split('_').0 }}-inf-{{ env_name }}
  <buffer kafka-{{ item }}-inf-{{ env_name }}>
    chunk_limit_size {{ kafka.chunk_limit_size }}
  </buffer>
</store>
{% endif %}
