tag ${tag}
environment {{ env_name }}
hostname {{ inventory_hostname }}
fqdn {{ ansible_fqdn }}
stage {{ prometheus.labels.stage | default('unknown') }}
shard {{ prometheus.labels.shard | default('unknown') }}
tier {{ prometheus.labels.tier | default('unknown') }}
type {{ prometheus.labels.type | default('unknown') }}